*.idea/
twitter.txt
main.iml

spark-streaming-scripts/project/target/*
spark-streaming-scripts/target/*
spark-streaming-scripts/checkpoint/*

spark-streaming-postgres/project/target/*
spark-streaming-postgres/target/*

spark-streaming-cassandra/project/target/*
spark-streaming-cassandra/target/*

spark-streaming-kafka/project/target/*
spark-streaming-kafka/target/*

spark-streaming-akka-streams/project/target/*
spark-streaming-akka-streams/target/*
